# Xcode

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
# Pods/

# Carthage
Carthage/Build/

# Node
node_modules/

# Python
__pycache__/

# macOS
.DS_Store

# Skills
swift-fundamentals-workspace/
